



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Projects - HRMS admin template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="~/assets/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="~/assets/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="~/assets/plugins/summernote/dist/summernote-bs4.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="~/assets/js/html5shiv.min.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="~/assets/img/logo.png" width="40" height="40" alt="">
				</a>
			</div>
			<!-- /Logo -->

			<a id="toggle_btn" href="javascript:void(0);">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>

			<!-- Header Title -->
			<div class="page-title-box">
				<h3>HRManagment</h3>
			</div>
			<!-- /Header Title -->

			<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

			<!-- Header Menu -->
			<ul class="nav user-menu">

				<!-- Search -->
				
				<!-- /Search -->
				<!-- Flag -->
				
				<!-- /Flag -->
				<!-- Notifications -->
				
				<!-- /Notifications -->
				<!-- Message Notifications -->
				
				<!-- /Message Notifications -->

				<li class="nav-item dropdown has-arrow main-drop">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<span class="user-img">
							<img src="~/assets/img/profiles/avatar-21.jpg" alt="">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
					</div>
				</li>
			</ul>
			<!-- /Header Menu -->
			<!-- Mobile Menu -->
			<div class="dropdown mobile-user-menu">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="profile.html">My Profile</a>
					<a class="dropdown-item" href="settings.html">Settings</a>
					<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
				</div>
			</div>
			<!-- /Mobile Menu -->

		</div>
		<!-- /Header -->
		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main</span>
						</li>
						
						
						<li class="menu-title">
							<span>Employees</span>
						</li>
						<li class="submenu">
							<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a asp-controller="Employee" asp-action="Index">All Employees</a></li>
								<li><a href="holidays.html">Holidays</a></li>
								<li><a href="leaves.html">Leaves  <span class="badge badge-pill bg-primary float-right">1</span></a></li>
								
							</ul>
						</li>
						<li>
							<a href="clients.html"><i class="la la-users"></i> <span>Clients</span></a>
						</li>
						<li class="submenu">
							<a href="#" ><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a class="active" asp-controller="Project" asp-action="Index">Projects</a></li>
								
								<li><a asp-controller="Project" asp-action="KananBoard">Project Board</a></li>
							</ul>
						</li>
						
						<li class="menu-title">
							<span>HR</span>
						</li>
						
						
						<li>
							<a href="policies.html"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
						</li>
						<li class="submenu">
							<a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="expense-reports.html"> Expense Report </a></li>
								<li><a href="invoice-reports.html"> Invoice Report </a></li>
							</ul>
						</li>
						<li class="menu-title">
							<span>Performance</span>
						</li>
						
						
						
						
						<li class="submenu">
							<a href="#" ><i class="la la-briefcase"></i>  Jobs  <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a asp-controller="Job" asp-action="manage"> Manage Jobs </a></li>
								<li><a asp-controller="Applicant" asp-action="Index"> Applied Candidates </a></li>
							</ul>
						</li>
						
						
						
						
						
						
					
						
						
						
						
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		<!-- Page Wrapper -->
		<div class="page-wrapper">

			@RenderBody()


		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/popper.min.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="~/assets/js/jquery.slimscroll.min.js"></script>

	<!-- Select2 JS -->
	<script src="~/assets/js/select2.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Summernote JS -->
	<script src="~/assets/plugins/summernote/dist/summernote-bs4.min.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/app.js"></script>
</body>
</html>








